<!----------------------------- Main Site Section ------------------------------>

<main>

    <!------------------------ Site Title ---------------------->

    <section class="site-title">

        <div class="site-background">
           
        </div>


    </section>

    <!------------x----------- Site Title ----------x----------->
    <!-- --------------------- Blog Carousel ----------------- -->

    <section>
        <div class="blog">
            <div class="container">
                <div class="owl-carousel owl-theme blog-post">
                    <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                        <img src="./assets/Blog-post/post-1.jpg" alt="post-1">
                        <div class="blog-title">
                            <h3>London Fashion week's continued the evolution</h3>
                            <button class="btn btn-blog">Fashion</button>
                            <span>2 minutes</span>
                        </div>
                    </div>
                    <div class="blog-content" data-aos="fade-in" data-aos-delay="200">
                        <img src="./assets/Blog-post/post-3.jpg" alt="post-1">
                        <div class="blog-title">
                            <h3>London Fashion week's continued the evolution</h3>
                            <button class="btn btn-blog">Fashion</button>
                            <span>2 minutes</span>
                        </div>
                    </div>
                    <div class="blog-content" data-aos="fade-left" data-aos-delay="200">
                        <img src="./assets/Blog-post/post-2.jpg" alt="post-1">
                        <div class="blog-title">
                            <h3>London Fashion week's continued the evolution</h3>
                            <button class="btn btn-blog">Fashion</button>
                            <span>2 minutes</span>
                        </div>
                    </div>
                    <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                        <img src="./assets/Blog-post/post-5.png" alt="post-1">
                        <div class="blog-title">
                            <h3>London Fashion week's continued the evolution</h3>
                            <button class="btn btn-blog">Fashion</button>
                            <span>2 minutes</span>
                        </div>
                    </div>
                </div>
                <div class="owl-navigation">
                    <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                    <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
                </div>
            </div>
        </div>
    </section>

    <!-- ----------x---------- Blog Carousel --------x-------- -->
    <!-- ---------------------- Site Content -------------------------->

    <section class="container">
        <div class="site-content">

            <script>$(function () {
                    $("#post-container").load("/Article/IndexBlog");
                });</script>
            <div class="posts" id="post-container">
            </div>



            <aside class="sidebar">

                <script>$(function () {
                        $("#category-container").load("/Category/IndexBlogCategory");
                    });</script>
                <div class="category" id="category-container">
                </div>

                <script>$(function () {
                    $("#popular-post-container").load("/Article/IndexBlogHighlight");
                    });</script>
                <div class="popular-post" id="popular-post-container">
                </div>

                <div class="newsletter" data-aos="fade-up" data-aos-delay="300">
                    <h2>Newsletter</h2>
                    <div class="form-element">
                        <input type="text" class="input-element" placeholder="Email">
                        <button class="btn form-btn">Subscribe</button>
                    </div>
                </div>


            </aside>
        </div>
    </section>

    <!-- -----------x---------- Site Content -------------x------------>

</main>

<!---------------x------------- Main Site Section ---------------x-------------->
